
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* commom styles or utlities*/
body{
    font-family: 'Poppins',
    sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    align-items: center ;
    flex-direction: column;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top player */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px ;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
.player img{
    width: 56px;
    height: 56px;
}

/* top blog style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 20px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* courses style */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}
.course{
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 10px;

}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background-color: rgb(248, 172, 172);
    padding: 5px 15px;
    border-radius: 20px;
}

/* mobile devices */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }

}

/* tablet device */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
}